body{
  font-family: arial;
}

h1{
  color: black;
}

.infos, p, small, adress, h3{
  color: #9DA3FF;
}

a{
  text-decoration: none;
  color: #9DA3FF;
}

a:hover{
  text-decoration: underline;
  color: #7075c8;
}

p small{
  margin: 5px 0px 5px 0px;
}

#wrap-infos div{
  display: inline-block;
}

.pic-me{
  padding-left: 80px;
}

#skills ul, #perso ul, .list{
  color: #999999;
}

#container section{
  position: absolute;
}

#perso{
  right: 356px;
  border-left: solid 2px;
  padding-left: 100px;
}

.list{
  display: list-item;
  margin-left: 40px;
}