body{
  margin: 0px;
  font-family: arial;
}

h1{
  color: black;
}

a{
  text-decoration: none;
  color: #9DA3FF;
}

a:hover{
  text-decoration: underline;
  color: #7075c8;
}

p small{
  margin: 5px 0px 5px 0px;
}

.infos, p, small, adress, h3{
  color: #9DA3FF;
}

.list{
  display: list-item;
  margin-left: 40px;
}

.name{
  margin-top: 0px;
}

.title{
  text-align: center;
}

#wrapper{
  width: 980px;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

#wrap-infos div{
  display: inline-block;
}

.pic-me{
  padding-left: 80px;
}

#container section{
  display: inline-block;
  vertical-align: top;
}

#skills ul, #perso ul, .list{
color: #999999;
}

#skills{
  margin-right: 50px;
}

#perso{
  right: 356px;
  border-left: solid 2px;
  padding-left: 50px;
}
